.body {
	text-align: left;
	padding: 25px;
	color: white;
}

.title {
	color: white;
}
td {
	padding: 10px;
	vertical-align: top;
	border: 1px solid white;
}
.loader {
	text-align: center;
	padding-top: 40px;
}
