/*
 * Color Palet - Blue
 */


 $primary-color: #ffffff;
 $secondary-color: rgba(71, 88, 106, 0.85);
 $assetPath : "assets/img/cover-asset.jpg";
 $send-button-color: #1f8dd6;
 $send-button-discolor: #96c5e4;
 $watson_badge: #47586a;
 $user-badge: #1f8dd6;
 $help-user-icon: #3f5369;
 $menu-hover: #1a3048;
 $inut-panel-color: #ffffff; 

