/*
 * Color Palet - Brown
 */


 $primary-color: #af5c02;
 $secondary-color: rgba(59, 137, 141, 0.85);
 $help-user-icon: #c36d0f;
 $menu-hover: #864702;
 $assetPath : "assets/img/cover-med.jpg";
 $inut-panel-color: #eeeeee; 
 $send-button-color: #3b898d; 
 $send-button-discolor: #9ac4c7;
 $watson_badge: #af5c02;
 $user-badge: #3b898d

