/*
 * Color Palet - Green
 */


 $primary-color: #67a800;
 $secondary-color: rgba(90, 90, 90, 0.85);
 $help-user-icon: #78c105;
 $menu-hover: #508102;
 $assetPath : "assets/img/cover-hr.jpg";
 $inut-panel-color: #eeeeee; 
 $send-button-color: #67a800; 
 $send-button-discolor: #b4d78c;
 $watson_badge: #508102;
 $user-badge: #67a800;

