/*
 * Color Palet - Red
 */


 $primary-color: #c71717;
 $secondary-color: rgba(95, 115, 138, 0.85);
 $help-user-icon: #b00c0c;
 $menu-hover: #9a0303;
 $assetPath : "assets/img/cover-banking.jpg";
 $inut-panel-color: #eeeeee; 
 $send-button-color: #b00c0c; 
 $send-button-discolor: #c77878;
 $watson_badge: #c71717;
 $user-badge: #fd4a4a;

